{% extends "pages/layouts/base.html" %}
{% load static %}

{% block content %}
<div class="blog-post-9 pt-20">
    <div class="container">
        <div class="row g-lg-4 gy-5">
            <div class="col-lg-12">
                <div class="post-thump">
                    <img style="border: 4px solid white; border-radius: 4px;" src="{{ current_article.image.url }}" alt="">
                </div>
                <ul class="post-meta">
                    <li>
                        <a href="https://www.github.com/gmurad97">murad.dev</a>
                    </li>
                    <li>
                        <a class="publish-date" href="health-and-wellness-category.html">
                            {{ current_article.created_at }}
                        </a>
                    </li>
                </ul>
                <h1>{{ current_article.title }}</h1>
                <div class="row justify-content-center">
                    <div class="col-lg-10 mb-60">
                        <div class="blog-content">
                            <p>
                                {{ current_article.description }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}