{% extends "pages/layouts/base.html" %}
{% load static %}

{% block content %}
<div class="breadcrumb-and-page-title health mb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner-page-breadcrumb-wrapper">
                    <ul>
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li>Robert Kcarery</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="page-title-area" style="background-image: url({% static 'pages/image/health-wellness/banner-imh.png' %});">
                    <div class="page-content">
                        <h1>Robert Kcarery</h1>
                        <p>Remember, the success of your lifestyle blog is a result of a combination of factors, including the quality of your content, audience engagement.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="blog-post-8 pt-70">
    <div class="container">
        <div class="row g-lg-4 gy-4">
            <div class="col-lg-8">
                <div class="row gy-5 mb-70">
                    <div class="col-lg-6 col-md-6">
                        <div class="blog-area">
                            <div class="blog-card">
                                <div class="blog-content-1">
                                    <span><a href="{% url 'health-and-wellness-category' %}">Wellness</a></span>
                                    <h5><a href="{% url 'health-and-wellness-category' %}">02 January, 2024</a></h5>
                                    <h3><a href="{% url 'standard-formate' %}">Exploring the Path to Vibrant Living.</a></h3>
                                </div>
                                <div class="blog-image">
                                    <a href="{% url 'standard-formate' %}"> <img class="img-fluid" src="{% static 'pages/image/health-wellness/Image-67.png' %}" alt=""></a>
                                </div>
                                <div class="blog-bottom-content">
                                    <div class="blog-author">
                                        <div class="author-img">
                                            <img src="{% static 'pages/image/health-wellness/Image-10.png' %}" alt="">
                                        </div>
                                        <div class="author-name">
                                            <a href="{% url 'editor-profile' %}">Dr. Daniel Scoot</a>
                                        </div>
                                    </div>
                                    <div class="blog-btn">
                                        <a href="{% url 'standard-formate' %}">
                                            View
                                            <svg class="arrow" width="10" height="10" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1 9L9 1M9 1C7.22222 1.33333 3.33333 2 1 1M9 1C8.66667 2.66667 8 6.33333 9 9" stroke="white" stroke-width="1.5" stroke-linecap="round" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="blog-area">
                            <div class="blog-card tea-Green">
                                <div class="blog-content-1">
                                    <span><a href="{% url 'health-and-wellness-category' %}">Nutrition</a></span>
                                    <h5><a href="{% url 'health-and-wellness-category' %}">04 January, 2024</a></h5>
                                    <h3><a href="{% url 'standard-formate' %}">Nutritious and Delicious Recipes.</a></h3>
                                </div>
                                <div class="blog-image">
                                    <a href="{% url 'standard-formate' %}"> <img class="img-fluid" src="{% static 'pages/image/health-wellness/Image-13.png' %}" alt=""></a>
                                </div>
                                <div class="blog-bottom-content">
                                    <div class="blog-author">
                                        <div class="author-img">
                                            <img src="{% static 'pages/image/health-wellness/Image-10.png' %}" alt="">
                                        </div>
                                        <div class="author-name">
                                            <a href="{% url 'editor-profile' %}">Dr. Robertson</a>
                                        </div>
                                    </div>
                                    <div class="blog-btn">
                                        <a href="{% url 'standard-formate' %}">
                                            View
                                            <svg class="arrow" width="10" height="10" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1 9L9 1M9 1C7.22222 1.33333 3.33333 2 1 1M9 1C8.66667 2.66667 8 6.33333 9 9" stroke="white" stroke-width="1.5" stroke-linecap="round" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="blog-area">
                            <div class="blog-card linen">
                                <div class="blog-content-1">
                                    <span><a href="{% url 'health-and-wellness-category' %}">Hygiene</a></span>
                                    <h5><a href="{% url 'health-and-wellness-category' %}">05 January, 2024</a></h5>
                                    <h3><a href="{% url 'standard-formate' %}">Tips for a Healthy Hygiene Routine.</a></h3>
                                </div>
                                <div class="blog-image">
                                    <a href="{% url 'standard-formate' %}"> <img src="{% static 'pages/image/health-wellness/Image-12.png' %}" alt=""></a>
                                </div>
                                <div class="blog-bottom-content">
                                    <div class="blog-author">
                                        <div class="author-img">
                                            <img src="{% static 'pages/image/health-wellness/Image-10.png' %}" alt="">
                                        </div>
                                        <div class="author-name">
                                            <a href="{% url 'editor-profile' %}">Dr. Daniel Scoot</a>
                                        </div>
                                    </div>
                                    <div class="blog-btn">
                                        <a href="{% url 'standard-formate' %}">
                                            View
                                            <svg class="arrow" width="10" height="10" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1 9L9 1M9 1C7.22222 1.33333 3.33333 2 1 1M9 1C8.66667 2.66667 8 6.33333 9 9" stroke="white" stroke-width="1.5" stroke-linecap="round" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="blog-area">
                            <div class="blog-card canary-yellow">
                                <div class="blog-content-1">
                                    <span><a href="{% url 'health-and-wellness-category' %}">Self-Care</a></span>
                                    <h5><a href="{% url 'health-and-wellness-category' %}">06 January, 2024</a></h5>
                                    <h3><a href="{% url 'standard-formate' %}">Nurturing Your Mind, Body, and Soul.</a></h3>
                                </div>
                                <div class="blog-image">
                                    <a href="{% url 'standard-formate' %}"> <img src="{% static 'pages/image/health-wellness/Image-14.png' %}" alt=""></a>
                                </div>
                                <div class="blog-bottom-content">
                                    <div class="blog-author">
                                        <div class="author-img">
                                            <img src="{% static 'pages/image/health-wellness/Image-10.png' %}" alt="">
                                        </div>
                                        <div class="author-name">
                                            <a href="{% url 'editor-profile' %}">Dr. Emusion Hey</a>
                                        </div>
                                    </div>
                                    <div class="blog-btn">
                                        <a href="{% url 'standard-formate' %}">
                                            View
                                            <svg class="arrow" width="10" height="10" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1 9L9 1M9 1C7.22222 1.33333 3.33333 2 1 1M9 1C8.66667 2.66667 8 6.33333 9 9" stroke="white" stroke-width="1.5" stroke-linecap="round" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="blog-area">
                            <div class="blog-card silver">
                                <div class="blog-content-1">
                                    <span><a href="{% url 'health-and-wellness-category' %}">Disease</a></span>
                                    <h5><a href="{% url 'health-and-wellness-category' %}">10 January, 2024</a></h5>
                                    <h3><a href="{% url 'standard-formate' %}">Balancing Life with Chronic Conditions.</a></h3>
                                </div>
                                <div class="blog-image">
                                    <a href="{% url 'standard-formate' %}"> <img src="{% static 'pages/image/health-wellness/Image-67.png' %}" alt=""></a>
                                </div>
                                <div class="blog-bottom-content">
                                    <div class="blog-author">
                                        <div class="author-img">
                                            <img src="{% static 'pages/image/health-wellness/Image-10.png' %}" alt="">
                                        </div>
                                        <div class="author-name">
                                            <a href="{% url 'editor-profile' %}">Dr. Hanstroman</a>
                                        </div>
                                    </div>
                                    <div class="blog-btn">
                                        <a href="{% url 'standard-formate' %}">
                                            View
                                            <svg class="arrow" width="10" height="10" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1 9L9 1M9 1C7.22222 1.33333 3.33333 2 1 1M9 1C8.66667 2.66667 8 6.33333 9 9" stroke="white" stroke-width="1.5" stroke-linecap="round" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="blog-area">
                            <div class="blog-card silk">
                                <div class="blog-content-1">
                                    <span><a href="{% url 'health-and-wellness-category' %}">Meditation</a></span>
                                    <h5><a href="{% url 'health-and-wellness-category' %}">12 January, 2024</a></h5>
                                    <h3><a href="{% url 'standard-formate' %}">The Art and Science of Meditation.</a></h3>
                                </div>
                                <div class="blog-image">
                                    <a href="{% url 'standard-formate' %}"> <img src="{% static 'pages/image/health-wellness/Image-12.png' %}" alt=""></a>
                                </div>
                                <div class="blog-bottom-content">
                                    <div class="blog-author">
                                        <div class="author-img">
                                            <img src="{% static 'pages/image/health-wellness/Image-10.png' %}" alt="">
                                        </div>
                                        <div class="author-name">
                                            <a href="{% url 'editor-profile' %}">Rakhab Uddin</a>
                                        </div>
                                    </div>
                                    <div class="blog-btn">
                                        <a href="{% url 'standard-formate' %}">
                                            View
                                            <svg class="arrow" width="10" height="10" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1 9L9 1M9 1C7.22222 1.33333 3.33333 2 1 1M9 1C8.66667 2.66667 8 6.33333 9 9" stroke="white" stroke-width="1.5" stroke-linecap="round" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="blog-area">
                            <div class="blog-card lavender-blue">
                                <div class="blog-content-1">
                                    <span><a href="{% url 'health-and-wellness-category' %}">Mental Health</a></span>
                                    <h5><a href="{% url 'health-and-wellness-category' %}">18 January, 2024</a></h5>
                                    <h3><a href="{% url 'standard-formate' %}">Stories of Mental Health Resilience.</a></h3>
                                </div>
                                <div class="blog-image">
                                    <a href="{% url 'standard-formate' %}"> <img src="{% static 'pages/image/health-wellness/Image-68.png' %}" alt=""></a>
                                </div>
                                <div class="blog-bottom-content">
                                    <div class="blog-author">
                                        <div class="author-img">
                                            <img src="{% static 'pages/image/health-wellness/Image-10.png' %}" alt="">
                                        </div>
                                        <div class="author-name">
                                            <a href="{% url 'editor-profile' %}">Dr. Fiona Victoria</a>
                                        </div>
                                    </div>
                                    <div class="blog-btn">
                                        <a href="{% url 'standard-formate' %}">
                                            View
                                            <svg class="arrow" width="10" height="10" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1 9L9 1M9 1C7.22222 1.33333 3.33333 2 1 1M9 1C8.66667 2.66667 8 6.33333 9 9" stroke="white" stroke-width="1.5" stroke-linecap="round" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="blog-area">
                            <div class="blog-card linen ">
                                <div class="blog-content-1">
                                    <span><a href="{% url 'health-and-wellness-category' %}">Hygiene</a></span>
                                    <h5><a href="{% url 'health-and-wellness-category' %}">20 January, 2024</a></h5>
                                    <h3><a href="{% url 'standard-formate' %}">Your Ultimate Hygiene Handbook.</a></h3>
                                </div>
                                <div class="blog-image">
                                    <a href="{% url 'standard-formate' %}"> <img src="{% static 'pages/image/health-wellness/Image-12.png' %}" alt=""></a>
                                </div>
                                <div class="blog-bottom-content">
                                    <div class="blog-author">
                                        <div class="author-img">
                                            <img src="{% static 'pages/image/health-wellness/Image-10.png' %}" alt="">
                                        </div>
                                        <div class="author-name">
                                            <a href="{% url 'editor-profile' %}">Dr. Frederick Gabriel</a>
                                        </div>
                                    </div>
                                    <div class="blog-btn">
                                        <a href="{% url 'standard-formate' %}">
                                            View
                                            <svg class="arrow" width="10" height="10" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1 9L9 1M9 1C7.22222 1.33333 3.33333 2 1 1M9 1C8.66667 2.66667 8 6.33333 9 9" stroke="white" stroke-width="1.5" stroke-linecap="round" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <a href="{% url 'health-and-wellness-category' %}" class="load-btn hover-btn two">
                            LOAD MORE
                            <svg class="arrow" width="10" height="10" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 9L9 1M9 1C7.22222 1.33333 3.33333 2 1 1M9 1C8.66667 2.66667 8 6.33333 9 9" stroke-width="1.5" stroke-linecap="round"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="health-sidebar-area">
                    <div class="single-widget mb-30">
                        <h6>Trending Post</h6>
                        <div class="recent-post-widget mb-30">
                            <div class="recent-post-img">
                                <a href="{% url 'standard-formate' %}"><img src="{% static 'pages/image/health-wellness/image-(17).png' %}" alt=""></a>
                            </div>
                            <div class="recent-post-content">
                                <a href="{% url 'health-and-wellness-category' %}">05 January, 2024</a>
                                <h5><a href="{% url 'standard-formate' %}">Mental Health Matters Breaking the Stigma.</a></h5>
                            </div>
                        </div>
                        <div class="recent-post-widget mb-30">
                            <div class="recent-post-img">
                                <a href="{% url 'standard-formate' %}"><img src="{% static 'pages/image/health-wellness/sidber-img-2.png' %}" alt=""></a>
                            </div>
                            <div class="recent-post-content">
                                <a href="{% url 'health-and-wellness-category' %}">05 January, 2024</a>
                                <h5><a href="{% url 'standard-formate' %}">Harnessing the Power of the Presen.</a></h5>
                            </div>
                        </div>
                        <div class="recent-post-widget ">
                            <div class="recent-post-img">
                                <a href="{% url 'standard-formate' %}"><img src="{% static 'pages/image/health-wellness/sidber-img-3.png' %}" alt=""></a>
                            </div>
                            <div class="recent-post-content">
                                <a href="{% url 'health-and-wellness-category' %}">05 January, 2024</a>
                                <h5><a href="{% url 'standard-formate' %}">A Guide to Better Sleep Habits.</a></h5>
                            </div>
                        </div>
                        <div class="view-all-btn">
                            <a href="{% url 'health-and-wellness-category' %}" class="view-btn">
                                View All
                                <svg class="arrow" width="10" height="10" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 9L9 1M9 1C7.22222 1.33333 3.33333 2 1 1M9 1C8.66667 2.66667 8 6.33333 9 9" stroke="white" stroke-width="1.5" stroke-linecap="round" />
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="single-widget powder-blue mb-30">
                        <h6>Category</h6>
                        <ul class="category">
                            <li>
                                <a href="{% url 'health-and-wellness-category' %}">Life Fitness (02)</a>
                            </li>
                            <li>
                                <a href="{% url 'health-and-wellness-category' %}">Nutrition (05)</a>
                            </li>
                            <li>
                                <a href="{% url 'health-and-wellness-category' %}">Self Care (03)</a>
                            </li>
                            <li>
                                <a href="{% url 'health-and-wellness-category' %}">Meditation (04)</a>
                            </li>
                            <li>
                                <a href="{% url 'health-and-wellness-category' %}">Disease (03)</a>
                            </li>
                            <li>
                                <a href="{% url 'health-and-wellness-category' %}">Mental Health (04)</a>
                            </li>
                            <li>
                                <a href="{% url 'health-and-wellness-category' %}">Wellness (04)</a>
                            </li>
                            <li>
                                <a href="{% url 'health-and-wellness-category' %}">Hygiene (07)</a>
                            </li>
                        </ul>
                    </div>
                    <div class="single-widget aero-blue mb-30">
                        <h6>Popular Tags</h6>
                        <ul class="popular-tag">
                            <li><a href="{% url 'health-and-wellness-category' %}">#Fitness,</a></li>
                            <li><a href="{% url 'health-and-wellness-category' %}">#Nutrition,</a></li>
                            <li><a href="{% url 'health-and-wellness-category' %}">#Meditation,</a></li>
                            <li><a href="{% url 'health-and-wellness-category' %}">#Wellness,</a></li>
                            <li><a href="{% url 'health-and-wellness-category' %}">#Life Style,</a></li>
                            <li><a href="{% url 'health-and-wellness-category' %}">#Health,</a></li>
                            <li><a href="{% url 'health-and-wellness-category' %}">#Mental Health,</a></li>
                            <li><a href="{% url 'health-and-wellness-category' %}">#Hygiene,</a></li>
                            <li><a href="{% url 'health-and-wellness-category' %}">#Exercise,</a></li>
                        </ul>
                    </div>
                    <div class="single-widget-add">
                        <a href="{% url 'editor-profile' %}"><img src="{% static 'pages/image/health-wellness/Group-27.png' %}" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}