{% extends "pages/layouts/base.html" %}
{% load static %}

{% block content %}
<div class="faq-page-wrap m-5">
    <div class="container">
        <div class="row justify-content-center g-lg-4 gy-5">
            <div class="col-lg-10">
                <div class="faq-area">
                    <div class="faq-wrap">
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            {% for faq in faqs %}
                            <div class="accordion-item">
                                <h5 class="accordion-header" id="flush-heading{{ forloop.counter }}">
                                    <button class="accordion-button {% if not forloop.first %}collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ forloop.counter }}" aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}" aria-controls="flush-collapse{{ forloop.counter }}">
                                        {{ faq.question }}
                                    </button>
                                </h5>
                                <div id="flush-collapse{{ forloop.counter }}" class="accordion-collapse collapse {% if forloop.first %}show{% endif %}" aria-labelledby="flush-heading{{ forloop.counter }}" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        {{ faq.answer }}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}