{% extends "pages/layouts/base.html" %}
{% load static %}

{% block content %}
<div class="blog-post mb-120">
    <div class="container">
        <div class="row g-lg-4 gy-4">
            <div class="col-lg-12">
                <div class="row gy-5 mb-70">
                    {% for article in articles %}
                    <div class="col-md-4">
                        <div class="blog-card">
                            <div class="blog-card-img-wrap">
                                <a href="{{ article.get_absolute_url }}">
                                    <img style="width:100%; height:222px;object-fit: cover;" src="{{ article.image.url }}" alt="">
                                </a>
                                <a href="{% url 'category' pk=article.category.pk %}">
                                    <span>{{ article.category }}</span>
                                </a>
                            </div>
                            <div class="blog-content">
                                <div class="author-area">
                                    <ul>
                                        <li>
                                            <a href="https://www.github.com/gmurad97">murad.dev</a>
                                        </li>
                                        <li>
                                            <a class="publish-date" href="javascript:void(0);">
                                                <svg width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <circle cx="3" cy="3" r="3" fill="#C4C4C4"></circle>
                                                </svg>
                                                {{ article.created_at }}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <h5>
                                    <a href="{{ article.get_absolute_url }}">{{ article.title|truncatechars:48 }}</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <a href="{% url 'articles' %}" class="load-btn hover-btn two">
                            LOAD MORE
                            <svg class="arrow" width="10" height="10" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 9L9 1M9 1C7.22222 1.33333 3.33333 2 1 1M9 1C8.66667 2.66667 8 6.33333 9 9" stroke-width="1.5" stroke-linecap="round"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}