{% extends "pages/layouts/base.html" %}
{% load static %}

{% block content %}
<div class="blog-post-10 pt-20 mb-120">
    <div class="container">
        <div class="inner-page-breadcrumb-wrapper mb-60">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>Privacy Policy</li>
            </ul>
        </div>
        <div class="row g-lg-4 gy-5">
            <div class="col-lg-8">
                <div class="blog-content2">
                    <h3>Privacy Policy</h3>
                    <span class="line-break2"></span>
                    <p>Zorik is committed to protecting your privacy. This Privacy Policy
                        describes how your personal information is collected, used, and shared when you
                        visit
                        Zorik site.</p>
                    <span class="line-break2"></span>
                    <p>We collect Device Information using the following technologies:</p>
                    <span class="line-break2"></span>
                    <div class="list-area">
                        <ul class="privacy-policy-list">
                            <li>"Cookies" are data files that are placed on your device or computer and
                                often
                                include an anonymous unique identifier. For more information about cookies,
                                and how
                                to disable cookies, visit <a href="privacy-policy.html#">http://www.allaboutcookies.org.</a>
                            </li>
                            <li>"Log files" track actions occurring on the Site, and collect data including
                                your IP
                                address, browser type, Internet service provider, referring/exit pages, and
                                date/time stamps.</li>
                        </ul>
                    </div>
                    <span class="line-break2"></span>
                    <span class="line-break2"></span>
                    <h3>Sharing Your Personal Information</h3>
                    <span class="line-break"></span>
                    <p>We share your Personal Information with third parties to help us use your Personal
                        Information, as described above. For example, we use Google Analytics to help us
                        understand how our customers use the Site.</p>
                    <span class="line-break2"></span>
                    <span class="line-break2"></span>
                    <h3>Data Retention</h3>
                    <span class="line-break"></span>
                    <p>When you subscribe to our newsletter or contact us via email, we will maintain your
                        information for our records unless and until you ask us to delete this information.
                    </p>
                    <span class="line-break2"></span>
                    <span class="line-break2"></span>
                    <h3>Contact Us</h3>
                    <span class="line-break2"></span>
                    <p class="unique-text">For more information about our privacy practices, if you have
                        questions, or if you would
                        like to make a complaint, please contact us by e-mail at <a href="privacy-policy.html#">[<span class="__cf_email__" data-cfemail="f19489909c819d94b1969c90989ddf929e9c">[email&#160;protected]</span>]</a>.</p>
                    <span class="line-break2"></span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="health-sidebar-area">
                    <div class="single-widget mb-30">
                        <h6>Trending Post</h6>
                        <div class="recent-post-widget mb-30">
                            <div class="recent-post-img">
                                <a href="standard-formate.html"><img src="{% static 'pages/image/health-wellness/image-(17).png' %}" alt=""></a>
                            </div>
                            <div class="recent-post-content">
                                <a href="health-and-wellness-category.html">05 January, 2024</a>
                                <h5><a href="standard-formate.html">Mental Health Matters Breaking the Stigma.</a></h5>
                            </div>
                        </div>
                        <div class="recent-post-widget mb-30">
                            <div class="recent-post-img">
                                <a href="standard-formate.html"><img src="{% static 'pages/image/health-wellness/sidber-img-2.png' %}" alt=""></a>
                            </div>
                            <div class="recent-post-content">
                                <a href="health-and-wellness-category.html">05 January, 2024</a>
                                <h5><a href="standard-formate.html">Harnessing the Power of the Presen.</a></h5>
                            </div>
                        </div>
                        <div class="recent-post-widget ">
                            <div class="recent-post-img">
                                <a href="standard-formate.html"><img src="{% static 'pages/image/health-wellness/sidber-img-3.png' %}" alt=""></a>
                            </div>
                            <div class="recent-post-content">
                                <a href="health-and-wellness-category.html">05 January, 2024</a>
                                <h5><a href="standard-formate.html">A Guide to Better Sleep Habits.</a></h5>
                            </div>
                        </div>
                        <div class="view-all-btn">
                            <a href="health-and-wellness-category.html" class="view-btn">
                                View All
                                <svg class="arrow" width="10" height="10" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 9L9 1M9 1C7.22222 1.33333 3.33333 2 1 1M9 1C8.66667 2.66667 8 6.33333 9 9" stroke="white" stroke-width="1.5" stroke-linecap="round" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="featured-post-sideber">
                    <div class="sidebar-widget about-section">
                        <ul class="category">
                            <li>
                                <a href="about-us.html">About Us</a>
                            </li>
                            <li>
                                <a href="terms&amp;condition.html">Terms &amp; Conditions</a>
                            </li>
                            <li>
                                <a href="privacy-policy.html#">Support</a>
                            </li>
                            <li>
                                <a href="privacy-policy.html">Privacy Policy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}