{% extends 'pages/layouts/base.html' %}
{% load static %}

{% block content %}
<div class="travel-category-post mb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row g-4 mb-60">
                    <div class="col-md-6">
                        <div class="blog-card2">
                            <div class="blog-card-img-wrap">
                                <a href="standard-formate.html"><img src="{% static 'pages/image/travel/blog-03.jpg' %}" alt=""></a>
                                <ul>
                                    <li><a class="category" href="travel-category.html">Inspiration</a></li>
                                    <li><a href="https://www.youtube.com/watch?v=OQm_UJS5kE4" class="lock video-player">
                                            <svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M14 7C14 8.85652 13.2625 10.637 11.9497 11.9497C10.637 13.2625 8.85652 14 7 14C5.14348 14 3.36301 13.2625 2.05025 11.9497C0.737498 10.637 0 8.85652 0 7C0 5.14348 0.737498 3.36301 2.05025 2.05025C3.36301 0.737498 5.14348 0 7 0C8.85652 0 10.637 0.737498 11.9497 2.05025C13.2625 3.36301 14 5.14348 14 7ZM5.94125 4.45638C5.87583 4.4098 5.79886 4.38212 5.71876 4.37639C5.63865 4.37065 5.55852 4.38707 5.48713 4.42385C5.41574 4.46063 5.35585 4.51635 5.31403 4.5849C5.2722 4.65345 5.25005 4.73219 5.25 4.8125V9.1875C5.25005 9.26781 5.2722 9.34655 5.31403 9.4151C5.35585 9.48365 5.41574 9.53937 5.48713 9.57615C5.55852 9.61293 5.63865 9.62935 5.71876 9.62361C5.79886 9.61788 5.87583 9.5902 5.94125 9.54362L9.00375 7.35612C9.06046 7.31565 9.10669 7.26222 9.13859 7.20028C9.17048 7.13834 9.18712 7.06967 9.18712 7C9.18712 6.93033 9.17048 6.86166 9.13859 6.79972C9.10669 6.73778 9.06046 6.68435 9.00375 6.64388L5.94125 4.45638Z"></path>
                                            </svg>
                                        </a></li>
                                </ul>
                            </div>
                            <div class="blog-content">
                                <ul class="blog-meta">
                                    <li>
                                        <a href="editor-profile.html">Robert Kcarery</a>
                                    </li>
                                    <li>
                                        <a class="publish-date" href="travel-category.html">08 Jan, 2024</a>
                                    </li>
                                </ul>
                                <h4><a href="standard-formate.html">Wellness Nourishing Mind, Body, and Soul Trends</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="blog-card2">
                            <div class="blog-card-img-wrap">
                                <a href="standard-formate.html"><img src="{% static 'pages/image/travel/blog-04.jpg' %}" alt=""></a>
                                <ul>
                                    <li><a class="category" href="travel-category.html">Travel</a></li>
                                    <li><span class="lock">
                                            <svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M10.9375 5.14062H9.95211V2.89215C9.95211 1.29741 8.62734 0 6.99899 0C5.37064 0 4.04586 1.29741 4.04586 2.89215V5.14062H3.0625C2.15786 5.14062 1.42188 5.87661 1.42188 6.78125V12.3594C1.42188 13.264 2.15786 14 3.0625 14H10.9375C11.8421 14 12.5781 13.264 12.5781 12.3594V6.78125C12.5781 5.87661 11.8421 5.14062 10.9375 5.14062ZM5.13961 2.89215C5.13961 1.9005 5.97373 1.09375 6.99899 1.09375C8.02424 1.09375 8.85836 1.9005 8.85836 2.89215V5.14062H5.13961V2.89215ZM11.4844 12.3594C11.4844 12.6609 11.239 12.9062 10.9375 12.9062H3.0625C2.76095 12.9062 2.51562 12.6609 2.51562 12.3594V6.78125C2.51562 6.4797 2.76095 6.23438 3.0625 6.23438H10.9375C11.239 6.23438 11.4844 6.4797 11.4844 6.78125V12.3594Z" />
                                                <path d="M7 7.82031C6.44123 7.82031 5.98828 8.27326 5.98828 8.83203C5.98828 9.18881 6.17312 9.50223 6.45211 9.68237V10.8828C6.45211 11.1848 6.69695 11.4297 6.99899 11.4297C7.301 11.4297 7.54586 11.1848 7.54586 10.8828V9.68365C7.82597 9.50373 8.01172 9.18969 8.01172 8.83203C8.01172 8.27326 7.55877 7.82031 7 7.82031Z" />
                                            </svg>
                                        </span></li>
                                </ul>
                            </div>
                            <div class="blog-content">
                                <ul class="blog-meta">
                                    <li>
                                        <a href="editor-profile.html">Robert Kcarery</a>
                                    </li>
                                    <li>
                                        <a class="publish-date" href="travel-category.html">08 Jan, 2024</a>
                                    </li>
                                </ul>
                                <h4><a href="standard-formate.html">Packing Perfection: Tips for Efficient Travel</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="blog-card2">
                            <div class="blog-card-img-wrap">
                                <a href="standard-formate.html"><img src="{% static 'pages/image/travel/blog-05.jpg' %}" alt=""></a>
                                <ul>
                                    <li><a class="category" href="travel-category.html">Heritage</a></li>
                                </ul>
                            </div>
                            <div class="blog-content">
                                <ul class="blog-meta">
                                    <li>
                                        <a href="editor-profile.html">Dr. Michael Patrick</a>
                                    </li>
                                    <li>
                                        <a class="publish-date" href="travel-category.html">08 Jan, 2024</a>
                                    </li>
                                </ul>
                                <h4><a href="standard-formate.html">Wellness Nourishing Mind, Body, and Soul Trends</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="blog-card2">
                            <div class="blog-card-img-wrap">
                                <a href="standard-formate.html"><img src="{% static 'pages/image/travel/blog-06.jpg' %}" alt=""></a>
                                <ul>
                                    <li><a class="category" href="travel-category.html">Cultural</a></li>
                                </ul>
                            </div>
                            <div class="blog-content">
                                <ul class="blog-meta">
                                    <li>
                                        <a href="editor-profile.html">Robert Kcarery</a>
                                    </li>
                                    <li>
                                        <a class="publish-date" href="travel-category.html">08 Jan, 2024</a>
                                    </li>
                                </ul>
                                <h4><a href="standard-formate.html">Festivals of the World A Cultural Celebration Journey</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="blog-card2">
                            <div class="blog-card-img-wrap">
                                <a href="standard-formate.html"><img src="{% static 'pages/image/travel/blog-07.jpg' %}" alt=""></a>
                                <ul>
                                    <li><a class="category" href="travel-category.html">Inspiration</a></li>
                                    <li><span class="lock">
                                            <svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M10.9375 5.14062H9.95211V2.89215C9.95211 1.29741 8.62734 0 6.99899 0C5.37064 0 4.04586 1.29741 4.04586 2.89215V5.14062H3.0625C2.15786 5.14062 1.42188 5.87661 1.42188 6.78125V12.3594C1.42188 13.264 2.15786 14 3.0625 14H10.9375C11.8421 14 12.5781 13.264 12.5781 12.3594V6.78125C12.5781 5.87661 11.8421 5.14062 10.9375 5.14062ZM5.13961 2.89215C5.13961 1.9005 5.97373 1.09375 6.99899 1.09375C8.02424 1.09375 8.85836 1.9005 8.85836 2.89215V5.14062H5.13961V2.89215ZM11.4844 12.3594C11.4844 12.6609 11.239 12.9062 10.9375 12.9062H3.0625C2.76095 12.9062 2.51562 12.6609 2.51562 12.3594V6.78125C2.51562 6.4797 2.76095 6.23438 3.0625 6.23438H10.9375C11.239 6.23438 11.4844 6.4797 11.4844 6.78125V12.3594Z" />
                                                <path d="M7 7.82031C6.44123 7.82031 5.98828 8.27326 5.98828 8.83203C5.98828 9.18881 6.17312 9.50223 6.45211 9.68237V10.8828C6.45211 11.1848 6.69695 11.4297 6.99899 11.4297C7.301 11.4297 7.54586 11.1848 7.54586 10.8828V9.68365C7.82597 9.50373 8.01172 9.18969 8.01172 8.83203C8.01172 8.27326 7.55877 7.82031 7 7.82031Z" />
                                            </svg>
                                        </span></li>
                                </ul>
                            </div>
                            <div class="blog-content">
                                <ul class="blog-meta">
                                    <li>
                                        <a href="editor-profile.html">Robert Kcarery</a>
                                    </li>
                                    <li>
                                        <a class="publish-date" href="travel-category.html">08 Jan, 2024</a>
                                    </li>
                                </ul>
                                <h4><a href="standard-formate.html">Wellness Nourishing Mind, Body, and Soul Trends</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="blog-card2">
                            <div class="blog-card-img-wrap">
                                <a href="standard-formate.html"><img src="{% static 'pages/image/travel/blog-08.jpg' %}" alt=""></a>
                                <ul>
                                    <li><a class="category" href="travel-category.html">Inspiration</a></li>
                                </ul>
                            </div>
                            <div class="blog-content">
                                <ul class="blog-meta">
                                    <li>
                                        <a href="editor-profile.html">Robert Kcarery</a>
                                    </li>
                                    <li>
                                        <a class="publish-date" href="travel-category.html">08 Jan, 2024</a>
                                    </li>
                                </ul>
                                <h4><a href="standard-formate.html">Wellness Nourishing Mind, Body, and Soul Trends</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="blog-card2">
                            <div class="blog-card-img-wrap">
                                <a href="standard-formate.html"><img src="{% static 'pages/image/travel/blog-09.jpg' %}" alt=""></a>
                                <ul>
                                    <li><a class="category" href="travel-category.html">Inspiration</a></li>
                                </ul>
                            </div>
                            <div class="blog-content">
                                <ul class="blog-meta">
                                    <li>
                                        <a href="editor-profile.html">Robert Kcarery</a>
                                    </li>
                                    <li>
                                        <a class="publish-date" href="travel-category.html">08 Jan, 2024</a>
                                    </li>
                                </ul>
                                <h4><a href="standard-formate.html">Wellness Nourishing Mind, Body, and Soul Trends</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="blog-card2">
                            <div class="blog-card-img-wrap">
                                <a href="standard-formate.html"><img src="{% static 'pages/image/travel/blog-10.jpg' %}" alt=""></a>
                                <ul>
                                    <li><a class="category" href="travel-category.html">Inspiration</a></li>
                                </ul>
                            </div>
                            <div class="blog-content">
                                <ul class="blog-meta">
                                    <li>
                                        <a href="editor-profile.html">Robert Kcarery</a>
                                    </li>
                                    <li>
                                        <a class="publish-date" href="travel-category.html">08 Jan, 2024</a>
                                    </li>
                                </ul>
                                <h4><a href="standard-formate.html">Wellness Nourishing Mind, Body, and Soul Trends</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <a href="travel-category.html" class="load-btn hover-btn">
                            LOAD MORE
                            <svg class="arrow" width="10" height="10" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 9L9 1M9 1C7.22222 1.33333 3.33333 2 1 1M9 1C8.66667 2.66667 8 6.33333 9 9" stroke-width="1.5" stroke-linecap="round" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog-sidebar-wrapper">
                    <div class="sidebar-widget featured-post">
                        <h6>Featured Post</h6>
                        <div class="recent-post">
                            <div class="recent-post-img">
                                <a href="standard-formate.html"><img src="{% static 'pages/image/travel/sb-img-01.jpg' %}" alt=""></a>
                            </div>
                            <div class="recent-post-content">
                                <a href="travel-category.html">05 January, 2024</a>
                                <h5><a href="standard-formate.html">A Guide to Better Sleep Habits.</a></h5>
                            </div>
                        </div>
                        <div class="recent-post">
                            <div class="recent-post-img">
                                <a href="standard-formate.html"><img src="{% static 'pages/image/travel/sb-img-02.jpg' %}" alt=""></a>
                            </div>
                            <div class="recent-post-content">
                                <a href="travel-category.html">05 January, 2024</a>
                                <h5><a href="standard-formate.html">A Guide to Better Sleep Habits.</a></h5>
                            </div>
                        </div>
                        <div class="recent-post">
                            <div class="recent-post-img">
                                <a href="standard-formate.html"><img src="{% static 'pages/image/travel/sb-img-03.jpg' %}" alt=""></a>
                            </div>
                            <div class="recent-post-content">
                                <a href="travel-category.html">05 January, 2024</a>
                                <h5><a href="standard-formate.html">A Guide to Better Sleep Habits.</a></h5>
                            </div>
                        </div>
                        <div class="recent-post">
                            <div class="recent-post-img">
                                <a href="standard-formate.html"><img src="{% static 'pages/image/travel/sb-img-04.jpg' %}" alt=""></a>
                            </div>
                            <div class="recent-post-content">
                                <a href="travel-category.html">05 January, 2024</a>
                                <h5><a href="standard-formate.html">A Guide to Better Sleep Habits.</a></h5>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-widget">
                        <div class="sidebar-content">
                            <h5>Subscribe Zorik To Get Free Update & Notify Your Device by Email.</h5>
                            <p>By subscribing, you'll unlock a treasure trove of the latest trends delivered directly to inbox.</p>
                            <div class="subscribe-btn">
                                <a href="travel-category.html#">
                                    <svg class="arrow" width="10" height="10" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 9L9 1M9 1C7.22222 1.33333 3.33333 2 1 1M9 1C8.66667 2.66667 8 6.33333 9 9" stroke="#191919" stroke-width="1.5" stroke-linecap="round"></path>
                                    </svg>
                                    SUBSCRIBE
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-widget discover-post">
                        <h6>Discover By Tags
                            <svg class="arrow" width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 9L9 1M9 1C7.22222 1.33333 3.33333 2 1 1M9 1C8.66667 2.66667 8 6.33333 9 9" stroke="white" stroke-width="1.5" stroke-linecap="round"></path>
                            </svg>
                        </h6>
                        <ul class="category">
                            <li>
                                <a href="travel-category.html">Adventure</a>
                            </li>
                            <li>
                                <a href="travel-category.html">Family Travel</a>
                            </li>
                            <li>
                                <a href="travel-category.html">Inspiration</a>
                            </li>
                            <li>
                                <a href="travel-category.html">Wildlife</a>
                            </li>
                            <li>
                                <a href="travel-category.html">Trends</a>
                            </li>
                            <li>
                                <a href="travel-category.html">Historical</a>
                            </li>
                            <li>
                                <a href="travel-category.html">Luxury Cruises</a>
                            </li>
                            <li>
                                <a href="travel-category.html">Cultural</a>
                            </li>
                            <li>
                                <a href="travel-category.html">Beach & Island</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}