<!DOCTYPE html>
<html lang="en">

<head>
    {% include "pages/partials/head.html" %}
</head>

<body id="body" class="background-img">
    {% include "pages/partials/scroll.html" %}
    {% include "pages/partials/sidebar.html" %}
    {% include "pages/partials/topbar.html" %}
    {% include "pages/partials/navbar.html" %}

    {% if partials.with_slider %}
        {% include "pages/partials/slider.html" %}
    {% endif %}

    {% if partials.with_ads %}
        {% include "pages/partials/ads.html" %}
    {% endif %}

    {% block content %}{% endblock %}

    {% include "pages/partials/footer.html" %}
    {% include "pages/partials/scripts.html" %}
</body>

</html>