<!DOCTYPE html>
<html lang="en">

<head>
    {% include "pages/partials/head.html" %}
</head>

<body id="body" class="background-img">
    {% include "pages/partials/scroll.html" %}
    {% include "pages/partials/sidebar.html" %}
    {% include "pages/partials/topbar.html" %}
    {% include "pages/partials/navbar.html" %}

    {% if not error %}
        {% include "pages/partials/banner.html" %}
        {% include "pages/partials/ads.html" %}
        {% include "pages/partials/breadcrumb.html" %}
    {% endif %}

    {% block content %}
    {% endblock %}

    {% include "pages/partials/gallery.html" %}
    {% include "pages/partials/footer.html" %}
    {% include "pages/partials/scripts.html" %}
</body>

</html>