{% load static %}

{% if ads.image %}
<div class="add-area my-5">
    <div class="container-fluid">
        <div class="row g-4">
            <div class="col-lg-12 d-flex justify-content-center">
                <div class="add-image-section">
                    <a target="_blank" href="https://www.github.com/gmurad97">
                        <img src="{{ ads.image.url }}" alt="Ads">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}