{% load static %}
<div class="banner-area2 mb-60">
    <div class="container">
        <div class="row ">
            <div class="col-lg-12 position-relative">
                <div class="slider-btn-groups">
                    <div class="slider-btn prev-2">
                        <svg width="7" height="14" viewBox="0 0 7 14" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 7.00008L7 0L2.54545 7.00008L7 14L0 7.00008Z" />
                        </svg>
                        <span class="two"> PREV</span>
                    </div>
                    <div class="slider-btn next-2">
                        <span>NEXT</span>
                        <svg width="7" height="14" viewBox="0 0 7 14" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7 7.00008L0 0L4.45455 7.00008L0 14L7 7.00008Z" />
                        </svg>
                    </div>
                </div>
                <div class="swiper banner-slider2">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="banner-card">
                                <div class="banner-img">
                                    <img src="{% static 'pages/image/index-img/banner-img-1.png' %}" alt="">
                                </div>
                                <div class="banner-content">
                                    <div class="catagory">
                                        <a href="life-style.html">
                                            Fashion
                                        </a>
                                    </div>
                                    <div class="banner-content-bottom">
                                        <div class="author-area">
                                            <ul>
                                                <li>
                                                    <a href="editor-profile.html">Robert Kcarery</a>
                                                </li>
                                                <li>
                                                    <a class="publish-date" href="life-style.html">
                                                        <svg width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <circle cx="3" cy="3" r="3" fill="#C4C4C4" />
                                                        </svg>
                                                        19 Jan, 2024</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <h2><a href="standard-formate.html">Style Chronicles Fashion Trends and Tips</a></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="banner-card">
                                <div class="banner-img">
                                    <img src="{% static 'pages/image/index-img/banner-img-2.png' %}" alt="">
                                </div>
                                <div class="banner-content">
                                    <div class="catagory">
                                        <a href="life-style.html">
                                            Tech
                                        </a>
                                    </div>
                                    <div class="banner-content-bottom">
                                        <div class="author-area">
                                            <ul>
                                                <li><a href="editor-profile.html">Rakhab Uddin</a></li>
                                                <li>
                                                    <a class="publish-date" href="life-style.html">
                                                        <svg width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <circle cx="3" cy="3" r="3" fill="#C4C4C4" />
                                                        </svg>
                                                        16 Jan, 2024</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <h2><a href="standard-formate.html">Tech Trends Navigating the Digital Landscape</a></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="banner-card">
                                <div class="banner-img">
                                    <img src="{% static 'pages/image/index-img/banner-img-4.png' %}" alt="">
                                </div>
                                <div class="banner-content">
                                    <div class="catagory">
                                        <a href="life-style.html">
                                            Food
                                        </a>
                                    </div>
                                    <div class="banner-content-bottom">
                                        <div class="author-area">
                                            <ul>
                                                <li><a href="editor-profile.html">Daniel Scoot</a></li>
                                                <li>
                                                    <a class="publish-date" href="life-style.html">
                                                        <svg width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <circle cx="3" cy="3" r="3" fill="#C4C4C4" />
                                                        </svg>
                                                        20 Jan, 2024</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <h2><a href="standard-formate.html">Foodie Diaries Recipes for Every Occasion</a></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="banner-card">
                                <div class="banner-img">
                                    <img src="{% static 'pages/image/index-img/banner-img-3.png' %}" alt="">
                                </div>
                                <div class="banner-content">
                                    <div class="catagory">
                                        <a href="life-style.html">Travel</a>
                                    </div>
                                    <div class="banner-content-bottom">
                                        <div class="author-area">
                                            <ul>
                                                <li>
                                                    <a href="editor-profile.html">Robert Kcarery</a>
                                                </li>
                                                <li>
                                                    <a class="publish-date" href="life-style.html">
                                                        <svg width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <circle cx="3" cy="3" r="3" fill="#C4C4C4" />
                                                        </svg>
                                                        19 Jan, 2024</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <h2><a href="standard-formate.html">Horizon Hues Painting Destinations.</a></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="banner-card">
                                <div class="banner-img">
                                    <img src="{% static 'pages/image/index-img/banner-img-5.png' %}" alt="">
                                </div>
                                <div class="banner-content">
                                    <div class="catagory">
                                        <a href="life-style.html">
                                            Life Style
                                        </a>
                                    </div>
                                    <div class="banner-content-bottom">
                                        <div class="author-area">
                                            <ul>
                                                <li><a href="editor-profile.html">Rakhab Uddin</a></li>
                                                <li>
                                                    <a class="publish-date" href="life-style.html">
                                                        <svg width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <circle cx="3" cy="3" r="3" fill="#C4C4C4" />
                                                        </svg>
                                                        16 Jan, 2024</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <h2><a href="standard-formate.html">Elevate Your Style Game with Confidence</a></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>