<div class="discover-section mb-70">
    <div class="container">
        <div class="row mb-20">
            <div class="col-lg-12">
                <div class="section-title">
                    <h5>Discover Today’s</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 position-relative">
                <div class="slider-btn-groups">
                    <div class="slider-btn prev-1">
                        <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.416666 8.96667H15V7.71667H0.416666V8.96667Z"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M1.04115 7.71667C3.98115 7.71667 6.38281 10.3017 6.38281 13.0583V13.6833H5.13281V13.0583C5.13281 10.9658 3.26448 8.96667 1.04115 8.96667H0.416979V7.71667H1.04115Z">
                            </path>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M1.04115 8.96667C3.98115 8.96667 6.38281 6.38167 6.38281 3.625V3H5.13281V3.625C5.13281 5.71833 3.26448 7.71667 1.04115 7.71667H0.416979V8.96667H1.04115Z">
                            </path>
                        </svg>
                    </div>
                    <div class="slider-btn next-1">
                        <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M15.5833 8.96667H1V7.71667H15.5833V8.96667Z"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M14.9589 7.71667C12.0189 7.71667 9.61719 10.3017 9.61719 13.0583V13.6833H10.8672V13.0583C10.8672 10.9658 12.7355 8.96667 14.9589 8.96667H15.583V7.71667H14.9589Z">
                            </path>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M14.9589 8.96667C12.0189 8.96667 9.61719 6.38167 9.61719 3.625V3H10.8672V3.625C10.8672 5.71833 12.7355 7.71667 14.9589 7.71667H15.583V8.96667H14.9589Z">
                            </path>
                        </svg>
                    </div>
                </div>
                <div class="swiper discover-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="discover-content">
                                <div class="number">
                                    <span>01</span>
                                </div>
                                <div class="other-content">
                                    <a href="life-style.html">05 January, 2024</a>
                                    <h6><a href="standard-formate.html">Foodie Diaries: Recipes for Every
                                            Occasion</a></h6>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="discover-content">
                                <div class="number">
                                    <span>02</span>
                                </div>
                                <div class="other-content">
                                    <a href="life-style.html">05 January, 2024</a>
                                    <h6><a href="standard-formate.html">Foodie Diaries: Recipes for Every
                                            Occasion</a></h6>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="discover-content">
                                <div class="number">
                                    <span>03</span>
                                </div>
                                <div class="other-content">
                                    <a href="life-style.html">05 January, 2024</a>
                                    <h6><a href="standard-formate.html">Foodie Diaries: Recipes for Every
                                            Occasion</a></h6>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="discover-content">
                                <div class="number">
                                    <span>01</span>
                                </div>
                                <div class="other-content">
                                    <a href="life-style.html">05 January, 2024</a>
                                    <h6><a href="standard-formate.html">Foodie Diaries: Recipes for Every
                                            Occasion</a></h6>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="discover-content">
                                <div class="number">
                                    <span>02</span>
                                </div>
                                <div class="other-content">
                                    <a href="life-style.html">05 January, 2024</a>
                                    <h6><a href="standard-formate.html">Foodie Diaries: Recipes for Every
                                            Occasion</a></h6>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="discover-content">
                                <div class="number">
                                    <span>03</span>
                                </div>
                                <div class="other-content">
                                    <a href="life-style.html">05 January, 2024</a>
                                    <h6><a href="standard-formate.html">Foodie Diaries: Recipes for Every
                                            Occasion</a></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>