{% load static %}

<script src="{% static 'pages/js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'pages/js/jquery-ui.js' %}"></script>
<script src="{% static 'pages/js/waypoints.js' %}"></script>
<script src="{% static 'pages/js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'pages/js/jquery.marquee.min.js' %}"></script>
<script src="{% static 'pages/js/wow.min.js' %}"></script>
<script src="{% static 'pages/js/popper.min.js' %}"></script>
<script src="{% static 'pages/js/swiper-bundle.min.js' %}"></script>
<script src="{% static 'pages/js/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'pages/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'pages/js/wow.min.js' %}"></script>
<script src="{% static 'pages/js/bootstrap.min.js' %}"></script>
<script src="{% static 'pages/js/boxicons.min.js' %}"></script>
<script src="{% static 'pages/js/custom.js' %}"></script>
<script>
    $(".marquee_text").marquee({
        direction: "left",
        duration: 45000,
        gap: 50,
        delayBeforeStart: 0,
        duplicated: true,
        startVisible: true,
    });
</script>

{% if settings.snow_mode %}
<script src="{% static 'pages/js/snowflakes.min.js' %}"></script>
<script>
    new Snowflakes({
        color: "rgb(64, 115, 158)",
        count: 128,
        minOpacity: 0.32,
        maxOpacity: 0.96,
        minSize: 16,
        maxSize: 32,
        rotation: true,
        speed: 1,
        wind: true,
        zIndex: 9999,
        autoResize: true
    });
</script>
{% endif %}