{% load static %}
<script src="{% static 'pages/js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'pages/js/jquery-ui.js' %}"></script>
<script src="{% static 'pages/js/waypoints.js' %}"></script>
<script src="{% static 'pages/js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'pages/js/jquery.marquee.min.js' %}"></script>
<script src="{% static 'pages/js/wow.min.js' %}"></script>
<script src="{% static 'pages/js/popper.min.js' %}"></script>
<script src="{% static 'pages/js/swiper-bundle.min.js' %}"></script>
<script src="{% static 'pages/js/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'pages/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'pages/js/wow.min.js' %}"></script>
<script src="{% static 'pages/js/bootstrap.min.js' %}"></script>
<script src="{% static 'pages/js/boxicons.min.js' %}"></script>
<script src="{% static 'pages/js/custom.js' %}"></script>
<script>
    $(".marquee_text").marquee({
        direction: "left",
        duration: 45000,
        gap: 50,
        delayBeforeStart: 0,
        duplicated: true,
        startVisible: true,
    });
</script>