<!-- jQuery link -->
<script src="../assets/js/jquery-3.7.1.min.js"></script>
<script src="../assets/js/jquery-ui.js"></script>
<!-- counterup js -->
<script src="../assets/js/waypoints.js"></script>
<script src="../assets/js/jquery.counterup.min.js"></script>
<!-- Marquee js -->
<script src="../assets/js/jquery.marquee.min.js"></script>
<!-- wow js -->
<script src="../assets/js/wow.min.js"></script>
<!-- poper js link -->
<script src="../assets/js/popper.min.js"></script>
<!-- swiper js link -->
<script src="../assets/js/swiper-bundle.min.js"></script>
<!-- fancybox link -->
<script src="../assets/js/jquery.fancybox.min.js"></script>
<script src="../assets/js/jquery.nice-select.min.js"></script>
<script src="../assets/js/wow.min.js"></script>
<!-- bootstraap js link -->
<script src="../assets/js/bootstrap.min.js"></script>
<script src="../assets/js/boxicons.min.js"></script>
<!-- Custom js -->
<script src="../assets/js/custom.js"></script>
<script>
    $(".marquee_text").marquee({
        direction: "left",
        duration: 45000,
        gap: 50,
        delayBeforeStart: 0,
        duplicated: true,
        startVisible: true,
    });
</script>