{% load static %}

<div class="sidebar-menu">
    <div class="mobile-logo-area d-flex justify-content-between align-items-center">
        <div class="header-logo">
            <a href="{% url 'pages:home' %}">
                <img alt="image" class="img-fluid dark" src="{% static 'pages/image/index-img/icon/dark-logo.svg' %}">
            </a>
            <a href="{% url 'pages:home' %}">
                <img alt="image" class="img-fluid light" src="{% static 'pages/image/index-img/icon/light-logo.svg' %}">
            </a>
        </div>
        <div class="menu-button menu-close-btn">
            <i class="bi bi-x"></i>
        </div>
    </div>
    <ul class="menu-list">
        <li><a href="home.html">Home</a></li>
        <li><a href="news.html">News</a></li>
        <li class="menu-item-has-children active">
            <a href="categories.html" class="drop-down">Categories</a><i class="bi bi-plus dropdown-icon"></i>
            <ul class="sub-menu">
                <li><a href="category-first.html">FIRST</a></li>
                <li><a href="category-second.html">SECOND</a></li>
                <li><a href="category-third.html">THIRD</a></li>
                <li><a href="category-fourth.html">FOURTH</a></li>
                <li><a href="category-fifth.html">FIFTH</a></li>
            </ul>
        </li>
        <li><a href="about.html">About</a></li>
        <li><a href="faq.html">FAQ</a></li>
        <li><a href="terms-and-conditions.html">Terms & Conditions</a></li>
        <li><a href="privacy-policy.html">Privacy Policy</a></li>
        <li><a href="contact.html">Contact</a></li>
    </ul>
</div>