{% load static %}

<div class="header-area d-lg-flex d-none">
    <div class="container d-flex alingn-items-center justify-content-between">
        <div class="header-logo">
            <a href="index.html">
                <img alt="image" class="img-fluid dark" src="{% static 'pages/image/index-img/icon/dark-logo.svg' %}">
            </a>
            <a href="index.html">
                <img alt="image" class="img-fluid light" src="{% static 'pages/image/index-img/icon/light-logo.svg' %}">
            </a>
        </div>
        <div class="header-right">
            <ul class="social-media">
                {% if settings.github %}
                <li>
                    <a href="{{ settings.github }}">
                        <svg width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="3" cy="3" r="2.5" stroke="#545454" />
                        </svg>
                        Github
                    </a>
                </li>
                {% endif %}
                {% if settings.instagram %}
                <li>
                    <a href="{{ settings.instagram }}">
                        <svg width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="3" cy="3" r="2.5" stroke="#545454" />
                        </svg>
                        Instagram
                    </a>
                </li>
                {% endif %}
                {% if settings.linkedin %}
                <li>
                    <a href="{{ settings.linkedin }}">
                        <svg width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="3" cy="3" r="2.5" stroke="#545454" />
                        </svg>
                        LinkedIn
                    </a>
                </li>
                {% endif %}
            </ul>
            <ul class="icon-area">
                <li class="tt-style-switch">
                    <i class="bi bi-brightness-low-fill"></i>
                </li>
            </ul>
        </div>
    </div>
</div>